// background 
    $bg-color1: #4D0080;
    $bg-color2: #8532bb;
    $bg-color3: #9900FF;
    $bg-color4: #6a12a6;
    $bg-color5: #7C00CC;

    $first-bg: linear-gradient(to right,$bg-color1,$bg-color2,$bg-color3,$bg-color4,$bg-color5)