* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #4D0080, #8532bb, #9900FF, #6a12a6, #7C00CC);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Trispace", sans-serif;
  padding: 1rem;
  font-size: 30px;
  margin-bottom: 100px;
}

.tris-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: relative;
}
.tris-container-point {
  background-color: #9801fd;
  width: 120px;
  height: 120px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tris-container-point .symbol {
  font-size: 105px;
  font-family: "Trispace", sans-serif;
}
.tris-container-point .trasparent {
  opacity: 0;
}
.tris-container-point .trasparent:hover {
  opacity: 100%;
  color: grey;
}
.tris-container-point:hover {
  background-color: #4D0080;
}
.tris-container #zero {
  border-radius: 10px 0 0 0;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  box-shadow: 0 -5px 5px -3px #c274f5, -5px 0 5px -3px #c274f5;
}
.tris-container #one {
  border-radius: 0 0 0 0;
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  box-shadow: 0 -5px 5px -3px #c274f5;
}
.tris-container #two {
  border-radius: 0 10px 0 0;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  box-shadow: 5px 0 5px -2px black, 0 -5px 5px -2px #c274f5;
}
.tris-container #three {
  border-radius: 0 0 0 0;
  border-right: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  box-shadow: -5px 0 5px -3px #c274f5;
}
.tris-container #four {
  border: 3px solid black;
}
.tris-container #five {
  border-radius: 0 0 0 0;
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  box-shadow: 5px 0 5px -2px black;
}
.tris-container #six {
  border-radius: 0 0 0 10px;
  border-right: 3px solid black;
  border-top: 3px solid black;
  box-shadow: 0 5px 5px -2px black, -5px 0 5px -2px #c274f5;
}
.tris-container #seven {
  border-radius: 0 0 0 0;
  border-right: 3px solid black;
  border-top: 3px solid black;
  border-left: 3px solid black;
  box-shadow: 0 5px 5px -2px black;
}
.tris-container #eight {
  border-radius: 0 0 10px 0;
  border-left: 3px solid black;
  border-top: 3px solid black;
  box-shadow: 3px 3px 5px black;
}

.victory-container {
  position: absolute;
  left: 313px;
  top: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #6a12a6;
  height: 490px;
  width: 530px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black, -5px -5px 20px #9900FF;
  -webkit-backdrop-filter: blur(120px);
          backdrop-filter: blur(120px);
  display: none;
}
.victory-container h1 {
  text-transform: capitalize;
  font-size: 40px;
}
.victory-container #victory-symbol {
  font-size: 150px;
}
.victory-container .img-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
}
.victory-container .img-container .img {
  width: 100px;
  transform: scaleX(-1);
}/*# sourceMappingURL=style.css.map */